{% extends 'base.html' %}
{% block title %} weCode - Add Post {{ post.title_tag }} {% endblock %}
{% block content %}

{% if user.is_authenticated %}

<h1>Add Post</h1>
<br>

<div class="form-group">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media}}
    {{ form.as_p}}
    <br>
    <button class="btn btn-secondary">Post</button>
</form>
</div>

<script>
    var name = "{{user.id}}";
    document.getElementById("author").value = name;
</script>

{% else %}

<p>You're not allowd here! get back to the <a href="{% url 'home' %}">home</a> page</p>

{% endif %}

{% endblock %}