{% extends 'base.html' %}
{% block content %}

{% if category_posts %}
<h1>{{ cats }}</h1>

<ul>
{% for post in category_posts %}
    <li>
        <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a> 
        - {{ post.author.first_name }} {{ post.author.last_name }} 
        {% if user.is_authenticated %}
        | <small><a href="{% url 'update-post' post.pk %}">تعديل</a> - <a href="{% url 'delete-post' post.pk %}">إزالة</a></small>
        {% endif %}
    <br> 
        {{ post.body|slice:":200" }}
    </li>
{% endfor %}
</ul>

{% else %}

<h2>عذرا. هذه الصفحة غير موجودة </h2>

{% endif %}

{% endblock %}
