<!DOCTYPE html>
<html lang="ar">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
         {% load static %}

        
		<!-- Google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{% static 'weCodeBlog/css/bootstrap.min.css' %}"/>

		<!-- RTL Support -->
		<link type="text/css" rel="stylesheet" href="{% static 'weCodeBlog/css/rtl/navbar.css' %}"/>
		<link type="text/css" rel="stylesheet" href="{% static 'weCodeBlog/css/rtl/footer.css' %}"/>
			

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="{% static 'weCodeBlog/css/font-awesome.min.css' %}">

        <!-- CSS CUSTOM -->
        <link rel="stylesheet" type="text/css" href="{% static 'weCodeBlog/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'weCodeBlog/css/tagsinput.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'weCodeBlog/css/custom-style.css' %}">

		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
        
        <title>
        {% block title %}
        weCode Blog
        {% endblock %}
        </title>

    </head>

    <body>
        <!-- Header -->
		<header id="header">
			<!-- Nav -->
			<div id="nav">
				<!-- Main Nav -->
				<div id="nav-fixed">
					<div class="container">
						<!-- logo -->
						<div class="nav-logo">
							<a href="/" class="logo"><img src="{% static 'weCodeBlog/images/logo.png' %}" alt=""></a>
						</div>
						<!-- /logo -->

						<!-- nav -->
						<ul class="nav-menu nav navbar-nav" dir="rtl">
							<li class="cat-1"><a href="/category/articles/">مقالات</a></li>
							<li class="cat-2"><a href="/category/news/">أخبار</a></li>
							<li class="cat-3"><a href="/category/tutorials/">دروس</a></li>
						</ul>
						<!-- /nav -->

						<!-- search & aside toggle -->
						<div class="nav-btns">
							<button class="aside-btn"><i class="fa fa-bars"></i></button>
							<button class="search-btn"><i class="fa fa-search"></i></button>
							<form class="search-form" method=POST action="{% url 'search-posts' %}">
								{% csrf_token %}
								<input class="search-input" type="text" name="search" placeholder="أدخل كلمات البحث">
								<button class="search-close"><i class="fa fa-times"></i></button>
							</form>
						</div>
						<!-- /search & aside toggle -->
					</div>
				</div>
				<!-- /Main Nav -->

				<!-- Aside Nav -->
				<div id="nav-aside">
					<!-- nav -->
					<div class="section-row">
						<ul class="nav-aside-menu">
                            {% if user.is_authenticated %}
                                <li>
									<div class="post-author">
										<div class="media">
											<div class="media-left">
												{% if user.profile.profile_pic %}
												<img class="media-object" src="{{ user.profile.profile_pic.url }}" alt="">
												{% else %}
												<img class="media-object" src="{% static 'weCodeBlog/images/default-picture.png' %}" alt="">
												{% endif %}
											</div>
										</div>
									</div>
									{% if user.profile.id %}
									<a href="{% url 'show-profile' user.profile.id %}">مرحبا, {{ user.first_name }} </a>
									{% else %}
									مرحبا, {{ user.first_name }}
									<br>
									<br>
									أرجوا منك إنشاء بيانات الحساب من <a href="{% url 'create-profile' %}">هنا</a> 
									ليمكنك إضافة مقالات و الدخول لصفحتك الشخصية
									{% endif %}
								</li>
								<hr>
								{% if user.profile.id %}
                                <li><a href="{% url 'add-post' %}">إضافة مقالة</a></li>
                                <hr>
								<li><a href="{% url 'edit-profile' user.profile.id %}">تعديل البيانات</a></li>
								{% else %}
								<li><a href="{% url 'create-profile' %}">إنشاء البيانات الشخصية</a></li>
                                {% endif %}
								<li><a href="{% url 'edit-settings' %}">تعديل الإعدادات</a></li>
								<hr>
                                <li><a href="{% url 'logout' %}">الخروج</a></li>
							{% else %}
                                <li><a href="{% url 'login' %}">تسجيل الدخول</a></li>
                            {% endif %}
						</ul>
					</div>
					<!-- /nav -->

					<!-- aside nav close -->
					<button class="nav-aside-close"><i class="fa fa-times"></i></button>
					<!-- /aside nav close -->
				</div>
				<!-- Aside Nav -->
			</div>
			<!-- /Nav -->
		</header>
		<!-- /Header -->

		<!-- Container -->
		{% block content %}
		
    	{% endblock %}
		<!-- Container -->

        <!-- Footer -->
		<footer id="footer">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<div class="footer-widget">
									<h3 class="footer-title">weCode Libya</h3>
									<ul class="footer-links">
										<li><a href="about.html">عن المجموعة</a></li>
										<li><a href="#">التسجيل</a></li>
										<li><a href="contact.html">تواصل معنا</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="footer-widget">
									<h3 class="footer-title">التصنيفات</h3>
									<ul class="footer-links">
										<li><a href="category.html">مقالات</a></li>
										<li><a href="category.html">أخبار</a></li>
										<li><a href="category.html">دروس</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="footer-widget">
							<div class="footer-logo">
								<a href="/" class="logo"><img src="{% static 'weCodeBlog/images/logo.png' %}" alt=""></a>
							</div>
							<ul class="footer-nav">
								<li><a href="#">سياسات الخصوصية</a></li>
								<li><a href="#">الإعلانات</a></li>
							</ul>
							<div class="footer-copyright">
								<span>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
							</div>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</footer>
		<!-- /Footer -->

		<!-- jQuery Plugins -->
		<script src="{% static 'weCodeBlog/js/jquery.min.js' %}"></script>
		<script src="{% static 'weCodeBlog/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'weCodeBlog/js/main.js' %}"></script>

	</body>

</html>