{% extends 'base.html' %}
{% block title %} weCode - Edit Post {{ post.title_tag }} {% endblock %}
{% block content %}

{% if user.id == post.author.id  %}

<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row page-header-align">
            <div class="col-md-12">
                <ul class="page-header-breadcrumb">
                    <li><a href="/">الرئيسية</a></li>
                    <li>حذف مقال</li>
                </ul>
                <h1>حذف مقال</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="container">
    <h3>حذف: {{ post.title }}</h3>

    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <br>
        <strong>هل أنت متأكد من الرغبة في إزالة المقالة؟</strong>
        <br>
        <br>
        <button class="btn btn-danger">حذف المقالة</button>
    </form>
    </div>
</div>


{% else %}

<p>صحفة خاطئة يرجى العودة <a href="{% url 'home' %}">للرئيسية</a></p>

{% endif %}

{% endblock %}