{% extends 'base.html' %}
{% load static %}

{% block title %} weCode -  {{ post.title_tag }} {% endblock %}
{% block content %}

<!-- Page Header -->
<div id="post-header" class="page-header">
    <div class="background-img" style="background-image: url('{{ post.header_image.url }}');"></div>
    <div class="container">
        <div class="row" style="text-align: end;">
            <div class="col-md-12">
                <div class="post-meta">
                    <a class="post-category cat-2" href="{% url 'category' post.category.slug %}">{{ post.category }}</a>
                    <span class="post-date">{{ post.date_published|date:"Y-m-d" }}</span>
                </div>
                <h1>{{ post.title }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">  

            <!-- /aside -->
                <!-- Post content -->
                <div class="col-md-12">
                    <div class="section-row sticky-container">
                        <div class="main-post">
                            <h3>{{ post.title }}</h3>
                            <small>
                                <a href="{% url 'show-profile' post.author.profile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a> | 
                                {% if user.id == post.author.id  %}
                                <a href="{% url 'update-post' post.slug %}">تعديل</a> - <a href="{% url 'delete-post' post.slug %}">حذف</a>
                                <br>
                                {% endif %}
                                {{ post.post_date|date:"Y-m-d" }}
                            </small>
                            <br><br>
                            {{ post.body|safe }}
                        </div>
                    
                    </div>

                    <!-- author -->
                    {% if post.author.profile %}
                    <div class="section-row">
                        <div class="post-author">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="./img/author.png" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <h3><a href="{% url 'show-profile' post.author.profile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a></h3>
                                    </div>
                                    <p>{{ post.author.profile.bio }}</p>
                                    <ul class="author-social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- /author -->
                    
                    <!-- ad -->
                    <div class="section-row text-center">
                        <a href="#" style="display: inline-block;margin: auto;">
                            <img class="img-responsive" src="{% static 'weCodeBlog/images/ad-2.jpg' %}" alt="">
                        </a>
                    </div>
                    <!-- ad -->
                    
                    <!-- comments -->
                    {% if post.comments %}  
                    <div class="section-row">
                        <div class="section-title">
                            <h2>التعلقيقات</h2>
                        </div>

                        <div class="post-comments">
                            {% for comment in post.comments.all %} 
                            <!-- comment -->
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="./img/avatar.png" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <h4>{{ comment.user.first_name }} {{ comment.user.last_name }}</h4>
                                        <p class="time">{{ comment.post_date }}</p>
                                    </div>
                                    <p>{{ comment.body }}</p>
                                </div>
                            </div>
                            <!-- /comment -->
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- /comments -->
                    

                    
                    <!-- reply -->
                    {% if user.is_authenticated %}
                    <div class="section-row">
                        <div class="section-title">
                            <p><strong> يمكنك إضافة تعليق في المربع الأسفل</strong></p>
                        </div>
                        <form class="post-reply" method="POST">
                            {% csrf_token %}
                            {{ form.as_p}}
                            <br>
                            <button class="primary-button">إضافة تعليق</button>
                        </form>
                    </div>
                    {% endif %}
                    <!-- /reply -->
                    

                </div>
                <!-- /Post content -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock %}