{% extends 'base.html' %}
{% load static %}
{% block title %} weCode -  {{ post.title_tag }} {% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>
<small>
    {{ post.author.first_name }} {{ post.author.last_name }} | 
    {% if user.id == post.author.id  %}
    <a href="{% url 'update-post' post.pk %}">تعديل</a> - <a href="{% url 'delete-post' post.pk %}">حذف</a>
    <br>
    {% endif %}
    {{ post.post_date }}
</small>
<hr>

<br>
<br>
{{ post.sumamry}}
<br>
<br>

{% if post.header_image %}
    <br>
    <img src="{{ post.header_image.url }}" alt="">
{% endif %}

<br>
<br>
{{ post.body|safe }}
<br>
<br>

{% if post.author.profile %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
        {% if post.author.profile.profile_pic %}
        <img src="{{ post.author.profile.profile_pic.url  }}" class="img-fluid rounded-start" alt="profile picture">
        {% else %}
        <img src="{% static 'blog\images\default-picture.png' %}" class="img-fluid rounded-start" alt="profile picture">
        {% endif %}
        </div>
        <div class="col-md-10">
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'show-profile-page' post.author.profile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a></h5>
            <p class="card-text"><small class="text-muted">
                {% if post.author.profile.website_url %}
                    <a href="{{ post.author.profile.website_url }}">Website</a> | 
                {% endif %}
                {% if post.author.profile.facebook_url %}
                    <a href="{{ post.author.profile.facebook_url }}">Facebook</a> |
                {% endif %}
                {% if post.author.profile.twitter_url %}
                    <a href="{{ post.author.profile.twitter_url }}">Twitter</a> | 
                {% endif %}
                {% if post.author.profile.github_url %}
                    <a href="{{ post.author.profile.github_url }}">GitHub</a>
                {% endif %}
            </small></p>
            <p class="card-text">{{ post.author.profile.bio }}</p>
        </div>
        </div>
    </div>
</div>
{% endif %}

<hr>

<br>
<h2>التعليقات</h2>

{% if post.comments %}  
    {% for comment in post.comments.all %} 
    <strong>
        {{ comment.name }} -
        {{ comment.post_date }} - <br>
    </strong>
        {{ comment.body }}
    {% endfor %}
{% endif %}

<br>
<br>

{% if user.is_authenticated %}
    <h3>إضافة تعليق</h3>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <br>
            <button class="btn btn-secondary">إضافة تعليق</button>
        </form>
    </div>
{% endif %}


<br>
<br>

<a href="{% url 'home' %}" class="btn btn-secondary">رجوع</a>
{% endblock %}