{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<div class="form-group">
<h1>تسجيل الدخول</h1>

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" placeholder="اسم المستخدم" name="username">
    </div>
    <br>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="كلمة السر" name="password">
    </div>
    <br>
    <button class="btn btn-secondary">دخول</button>
    لست مسجل؟ يمكنك التسجيل من <a href="{% url 'register' %}">هنا</a>
</form>
</div>

{% endblock %}