{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}

<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row page-header-align">
            <div class="col-md-12">
                <ul class="page-header-breadcrumb">
                    <li><a href="index.html">الرئيسية</a></li>
                    <li>تغيير كلمة المرور</li>
                </ul>
                <h1>تغيير كلمة المرور</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="container" dir="rtl">
    <div class="section">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                <br>
                <button class="btn btn-secondary">حفظ</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}