{% extends 'base.html' %}
{% block title %} weCode - Create New Profile Page {{ post.title_tag }} {% endblock %}
{% block content %}

{% if user.is_authenticated %}

<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row page-header-align">
            <div class="col-md-12">
                <ul class="page-header-breadcrumb">
                    <li><a href="index.html">الرئيسية</a></li>
                    <li>البيانات الشخصية</li>
                </ul>
                <h1>البيانات الشخصية</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="container" dir="rtl">
    <div class="section"></div>
        <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}
            <br>
            <button class="btn btn-secondary">حفظ البيانات</button>
        </form>
    </div>
</div>




{% else %}

<p>صحفة خاطئة يرجى العودة <a href="{% url 'home' %}">للرئيسية</a></p>

{% endif %}

{% endblock %}