{% extends 'base.html' %}
{% block title %} Edit Profile {% endblock %}
{% block content %}

<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row" style="text-align: end;">
            <div class="col-md-12">
                <ul class="page-header-breadcrumb">
                    <li><a href="index.html">الرئيسية</a></li>
                    <li>تعديل البيانات</li>
                </ul>
                <h1>تعديل البيانات</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->

<br><br>
<div class="container" dir="rtl">
    {{ user.profile.bio }}
    <br>
    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <br>
        <button class="btn btn-secondary">حفظ</button>
    </form>
    </div>
</div>

{% endblock %}