{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row" style="text-align: end;">
            <div class="col-md-12">
                <ul class="page-header-breadcrumb">
                    <li><a href="index.html">الرئيسية</a></li>
                    <li>البيانات الشخصية</li>
                </ul>
                <h1>{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->

<br><br>
<div class="container" dir="rtl">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
            {% if page_user.profile_pic %}
            <img src="{{ page_user.profile_pic.url  }}" class="img-fluid rounded-start" alt="profile picture">
            {% else %}
            <img src="{% static 'blog\images\default-picture.png' %}" class="img-fluid rounded-start" alt="profile picture">
            {% endif %}
            </div>
            <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'show-profile-page' page_user.id %}">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</a></h5>
                <p class="card-text"><small class="text-muted">
                    {% if page_user.website_url %}
                        <a href="{{ page_user.website_url }}">Website</a> | 
                    {% endif %}
                    {% if page_user.facebook_url %}
                        <a href="{{ page_user.facebook_url }}">Facebook</a> |
                    {% endif %}
                    {% if page_user.twitter_url %}
                        <a href="{{ page_user.twitter_url }}">Twitter</a> | 
                    {% endif %}
                    {% if page_user.github_url %}
                        <a href="{{ page_user.github_url }}">GitHub</a>
                    {% endif %}
                </small></p>
                <p class="card-text">{{ page_user.bio }}</p>
            </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
